.cart{
    position: absolute;
    border:1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    width:300px;
    left:-222px;
    height:300px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 30px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
}

.text{
    margin: 15px 25px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.671);
}

.textWrapper{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}

.empty{
    text-align: center;
    align-self: center;
    margin-top: 90px;
    color:rgba(0, 0, 0, 0.404);
}


.name{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 0;
}

.price{
    color:rgb(212, 100, 48);
    margin:0;
}

.amount{
    margin:0;
}

.item{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    height:85px;
    justify-content:flex-start;
    border-bottom: 1px solid black;

}