.wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close{
    position: relative;
    bottom:10px;
    cursor: pointer;
}

